blis==0.4.1
boto==2.49.0
boto3==1.10.0
botocore==1.13.0
certifi==2019.6.16
chardet==3.0.4
cymem==2.0.2
docutils==0.15.2
en-core-web-sm==2.2.0
gensim==3.8.1
idna==2.8
jmespath==0.9.4
joblib==0.14.0
liac-arff==2.4.0
murmurhash==1.0.2
nltk==3.4.5
numpy==1.17.3
-e git+https://github.com/openml/openml-python.git@f74b73a950062ddb210b97d7689a674bccdbaab0#egg=openml
pandas==0.25.2
plac==0.9.6
plotly==4.2.1
preshed==3.0.2
python-dateutil==2.8.0
pytz==2019.3
requests==2.22.0
retrying==1.3.3
s3transfer==0.2.1
scikit-learn==0.21.3
scipy==1.3.1
six==1.12.0
smart-open==1.8.4
spacy==2.2.1
srsly==0.1.0
thinc==7.1.1
tqdm==4.36.1
urllib3==1.25.6
wasabi==0.2.2
wincertstore==0.2
xmltodict==0.12.0
pyLDAvis
matplotlib
wordcloud